body {
  background-image: url("https://i.pinimg.com/originals/b1/94/0e/b1940eb27d12eadbcdaa86dca0f1037d.jpg");
  font-family:arial , helveticam sans-serif;
  margin: 10% 20%; color: gold
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(127,1,11, 6.1)
}
